<ion-content *ngIf="totalVotes != recievedVotes">
  <ion-title class="ion-text-center" style="color: white; background: #ea5153; padding-top: 15%; padding-bottom: 15%; font-family: 'Bebas Neue', cursive; letter-spacing: 1.5px;">Voting of Round {{ roundNum }}</ion-title>
  <ion-grid>

    <ion-row>
      <ion-col class="ion-text-center" size="4"></ion-col>
      <ion-col class="ion-text-center" size="4">
        <ion-avatar class="pfp">
          <img src="{{ mypfp }}">
        </ion-avatar>
        <h1 class="ion-text-center username">{{ myname }}</h1>
        <h2 class="ion-text-center username" style="color: lightgray; font-size: smaller;" *ngIf="myvoted == true" >Voted ✔️</h2>
        <h2 class="ion-text-center username" style="color: lightgray; font-size: smaller;" *ngIf="myvoted == false">Waiting 🤔</h2>
      </ion-col>
      <ion-col class="ion-text-center" size="4"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center" size="4" *ngFor="let player of playersNotMe; let i = index" [attr.data-index]="i">
        <div *ngIf="i == 0 || i == 1 || i == 2">
          <ion-avatar class="pfp">
            <img src="{{ player.pfp }}">
          </ion-avatar>
          <!-- <h1 class="ion-text-center username">{{ player.name }} <ion-label *ngIf="player.voted == true" color="light">✔️</ion-label></h1>
          <ion-button *ngIf="voted == false && this.myuid != player.uid" color="light" (click)="vote(player.uid)">Vote</ion-button>
          <ion-button *ngIf="voted == true && this.myuid != player.uid" color="light" disabled>Vote</ion-button> -->
          <h1 class="ion-text-center username">{{ player.name }}</h1>
          <h2 class="ion-text-center username" style="color: lightgray; font-size: smaller;" *ngIf="player.voted == true" >Voted ✔️</h2>
          <h2 class="ion-text-center username" style="color: lightgray; font-size: smaller;" *ngIf="player.voted == false">Waiting 🤔</h2>
          <ion-button *ngIf="voted == false && this.myuid != player.uid" color="light" (click)="vote(player.uid)">Vote</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size="4" *ngFor="let player of players; let i = index" [attr.data-index]="i">
        <div  *ngIf="i == 3 || i == 4 || i == 5">
          <ion-avatar class="pfp">
            <img src="{{ player.pfp }}">
          </ion-avatar>
          <h1 class="ion-text-center username">{{ player.name }}</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size="4" *ngFor="let player of players; let i = index" [attr.data-index]="i">
        <div  *ngIf="i == 6 || i == 7 || i == 8">
          <ion-avatar class="pfp">
            <img src="{{ player.pfp }}">
          </ion-avatar>
          <h1 class="ion-text-center username">{{ player.name }}</h1>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="totalVotes == recievedVotes && noVoteOut == false">
  <div class="roleText" style="margin-top: 15%;">
    <ion-avatar class="pfp" style="width: 80%; height: auto; margin-top: -40%; margin-bottom: 2vh;">
      <img src="{{ voteOutPfp }}" style="position: relative;">
    </ion-avatar>
    <ion-label style="font-size: 5vw; display: flex; justify-content: center; text-align: center; color: white">{{ voteOut }} has recieved the most votes.</ion-label>
  </div>
</ion-content>
<ion-content *ngIf="totalVotes == recievedVotes && noVoteOut == true">
  <div class="roleText" style="margin-top: 15%;">
    <ion-label style="font-size: 25vw; display: flex; justify-content: center">⚖️</ion-label>
    <ion-label style="font-size: 5vw; display: flex; justify-content: center; text-align: center; color: white">No player was accused because the vote was inconsistent.</ion-label>
  </div>
</ion-content>